<div class="row text-center">
  <div class="col">
    <h1 class="mt-5">Counter</h1>
  </div>
</div>

<div class="row text-center mb-5">
  <div class="col">
    <div class="btn btn-info" (click)="decrement()">- Decrease</div>
  </div>
  <div class="col">
    <h2>{{counter || '-'}}</h2>
  </div>
  <div class="col">
    <div class="btn btn-primary" (click)="increment()">Increment +</div>
  </div>
</div>

<hr>
<!--
<div class="row text-center">
  <div class="col">
    <app-son [counter]="counter"
             (counterEmitter)="counter = $event"></app-son>
  </div>
</div> -->
